<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawelsalata.instagramkit" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".InstagramLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>
</manifest>
